@import 'styles.css';

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1f 1fr;
}

section {
    display: flex;
    flex-direction: column;
}

main > section:last-child {
    grid-column: span 2;
}

section > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

section > ul > li {
    color: var(--colorHightlight2);
    font-size: 1.1rem;
    font-weight: bold;
    list-style: none;
}

blockquote {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--colorQuote);
    padding: 1.5rem;
    border-radius: 1rem;
}

section img {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 500px;
    border-radius: 0.5rem;
}

@media (max-width: 400px) {
    section img {
        width: 100%;
        height: auto;
    }
}

@media (max-height: 300px) {
    section img {
        height: 100%;
        width: auto;
    }

}